{% extends 'common/base.html' %}

{% block content %}
        <section id="edit">

            <div class="form">
                <h2>Confirm To Delete {{ fruit.name }}</h2>
                <form class="edit-form" method="POST" action="{% url 'delete_fruit' fruit.id %}">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                    <a class="cancel-btn" href="{% url 'dashboard' %}">Cancel</a>
                </form>
            </div>

        </section>

{% endblock %}