* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
}

body > * {
    background-color: rgb(174, 174, 246);
    padding: 1em;
    border-radius: 0.3em;
}

header {
    width: 100%;
    text-align: center;
}

nav{
    padding-right: 2em;
}

main {
    flex-grow: 1;
}


nav ul {
    list-style: none;
}

nav ul li {
    padding: 0.5em;
}

main ul {
    padding: 2em;
}

a {
    text-decoration: none;
}

footer {
    width: 100%;
}

@media (max-width: 500px) {
    body {
        background-color: black;
        flex-direction: column;
    }
}