* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(73, 82, 74);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 2em;
    background-color: rgb(73, 197, 197);
    border-radius: 1em;
    padding: 2em 0em 2em 2em;
    box-shadow: 2px -2px 82px 0px rgba(240,168,240,0.57);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    flex: 0 0 70px;
    width: 80px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 5em;
    transition: all 0.3s ease-in;
    
}

.card:hover {
    width: 400px;
    flex: 0 0 400px;
}

.card img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50% );
}